@model Advertisement.Models.AddToRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}


<section class="dashboard section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-1 col-lg-12 offset-lg-0">
                <div class="widget dashboard-container my-adslist">
                    <h3 class="widget-header">Add User To Role</h3>
                    @using (Html.BeginForm("AddUserToRole", "Account"))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(m => m.Email)
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(m => m.selectedRole, new SelectList(Model.roles))
                        </div>
                        <button type="submit" class="btn btn-transparent">Add</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

